html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

footer{
  background-color: rgb(39, 39, 39);
  color: white;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.rating{
  font-size:1.5rem;
  background-color: rgb(163, 163, 163);
  height: 100%;
  border-radius: 1.5rem 0 0 1.5rem;
  text-align: center;
  align-items: center;
  display: flex;
}

.status{
  font-size: 1.5rem;
  background-color: rgb(163, 163, 163);
  height: 100%;
  border-radius: 0 1.5rem 1.5rem 0;
  justify-content: center;
  display: flex;
  align-items: center;
}

.premiered{
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  justify-content: center;
  text-align: center;
}

.refCard :hover{
  cursor: pointer;
}

.refCard{
  border: 2px solid black;
  border-radius: 1.4rem;
  margin:2%;
  text-align: center;
  display: flex;
  align-items: center;
  font-size: large;
}
