html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


:root{
  --main-color: rgb(39, 39, 39);
  --desktop:1200px;
  --laptop:1024px;
  --tablet:768px;
  --phone:480px;
}

@media (max-width: 480px) {
  .CarouselTitle{
    font-size: 12px;
  }

  .trailer{
    width: 100%;
  }
  
  .detailsBody{
    width:95%;
    margin-left:2.5%;
  }

  .desc{
    font-size: 14px;
    font-weight:400;
    align-items: center;

  }

  .card-title{
    font-size: 14px;
  }

  .card-text{
    font-size: 13px;
  }

  .animeCard{
    width:98%;
    grid-template-columns:40% 60%;
  }
  .chapter{
    width:90%;
    height:80%;
    margin-left:5%;
  }
}

@media (min-width:481px) and (max-width: 770px) {
  .CarouselTitle{
    font-size: 15px;
  }

  .desc{
    font-size: 16px;
    align-items: center;
  }

  .detailsBody{
    width:80%;
    margin-left:10%;
  }

  .imgCarousel{
    width: 550px;
    height: 750px;
    border-radius: 1.5rem;
  }

  .animeCard{
    width:98%;
    grid-template-columns:40% 60%;
  }

  .chapter{
    width:80%;
    height:80%;
    margin-left:10%;
  }
}

.chapters:hover{
  cursor: pointer;
}

.chapters{
  width: auto;
}

.chapter{
  width:70%;
  height:80%;
  margin-left:15%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.page-link:hover{
  cursor: pointer;
}

.detailsBody{
  width:80%;
  margin-left:10%;
  display:block;
  background-color:rgb(240,248,255);
  padding:1%
}

.holder{
  width:90%;
  margin-left:3%;
  margin-top:3%; 
  display:grid; 
  grid-template-columns:60% 40%;
  
}

.quote{
  width:80%; 
  margin-left:3%; 
  margin-top:3%
}

footer{
  background-color: var(--main-color);
  color: white;
  text-align: center;

}

.premiered{
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  justify-content: center;
  text-align: center;
  background-color: rgb(255, 255, 255);
}

.rating{
  font-size:1.5rem;
  background-color: rgb(163, 163, 163);
  height: 100%;
  border-radius: 1.5rem 0 0 1.5rem;
  text-align: center;
  align-items: center;
  display: flex;
}

.status{
  font-size: 1.5rem;
  background-color: rgb(163, 163, 163);
  height: 100%;
  border-radius: 0 1.5rem 1.5rem 0;
  justify-content: center;
  display: flex;
  align-items: center;
}

.icon{
  color: white;
  margin: 1%;
  font-size: 2rem;
}



.refCard :hover{
  cursor: pointer;
}

.refCard{
  border: 2px solid black;
  border-radius: 1.4rem;
  margin:2%;
  text-align: center;
  display: flex;
  align-items: center;
  font-size: large;
}


.animeCard :hover{
  cursor: pointer;
}

.animeCard{
  width: 92%; 
  margin-top:4%; 
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2); 
  display:grid;
  grid-template-columns:30% 70%;
  border-radius: 1rem;
}

.mangaCard{
  width: "93%";
  margin-top:'5%'; 
  margin-left:'2%'; 
  height:'80%';
  box-shadow:12px 12px 2px 1px rgba(0, 0, 255, .2)
}

.mangaCard :hover{
  cursor: pointer;
}